body{
    background: #333;
}

#conteudo {
    width: 30%;
    padding: 5px 40px 40px 40px;
    margin: 0 auto;
    background: #222;
    border-radius: 3px;
    border: solid 1px #111;
 }
 #conteudo h2{
    color:#fff;
    text-align: center;
    margin-bottom: 40px;
    font-weight: normal;
 }
.formulario button {
    padding: 8px 40px;
    background: #6b5f75;
    border: none;
    color: #f9f9f9;
    border-radius: 3px;
    margin-top: 15px;
    box-shadow: 0 0 12px #807788;
    cursor: pointer;
 }
.formulario input{
    display: block;
    width: 100%;
    padding: 5px 0;
    margin: 20px 0;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: solid 1px #cdafe7;
    color: #fff;
    font-size: 16px;
 }
 .formulario input:focus{
    border: none;
    border-bottom: solid 1px #fff;
    outline: none;
 }

.formulario > div{
    position:relative;

}
.formulario label{
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 5px;
    transition: all 0.3s ease;
}
.formulario categoria{
    width: 160px;
    font-size: 16px;
    color: #fff;

}

.formulario mensagem{
    padding-top: 15px;
    font-size: 16px;
    color: #fff;
    background: #351bc7;

}
.formulario input:focus + label, .formulario input:valid + label{
    font-size: 12px;
    color: #111;
    bottom: 25px;
}

p{
    color: #fff;
}

